.item-list {
  list-style-type: none;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 200px;
  margin: 2rem auto;
}

.item-list li {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-icon {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #999;
  transition: color 0.3s ease;
}
.filled {
  color: #e63946;       
  font-weight: bold;    
  text-shadow: 0 0 5px #e63946;
  transition: color 0.3s ease;
}

.favorite-icon.filled {
  color: #e63946; 
}